body {
    background-color: rgba(240, 248, 255, 1);

    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;

    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

div.box-a {
    background-color: rgb(175, 175, 175);;
    width: auto;
    height: auto;

    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

div.box-b {
    background-color: rgb(0, 0, 0);;
    width: auto;
    height: auto;

    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;

    -ms-flex-align: center!important;
    align-items: center!important;
    display: -ms-flexbox!important;
    display: flex!important;
    align-content: flex-start;
    justify-content: center;
}