body{
    background-color: aliceblue;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

img {
    max-width: 73px;
    max-height: 73px;
    margin-right: 31.21px;
    align-self: center;
}

/*
img.instagram {
    max-width: 73px;
    max-height: 73px;
    margin-right: 31.21px;
    align-self: center;
}

img.github {
    max-width: 73px;
    max-height: 73px;
    margin-right: 43.96px;
    align-self: center;
}

img.discord {
    max-width: 73px;
    max-height: 73px;
    margin-right: 20px;
    align-self: center;
}

img.server {
    max-width: 73px;
    max-height: 73px;
    margin-right: 20px;
    align-self: center;
}

img.twitter {
    max-width: 73px;
    max-height: 73px;
    margin-right: 20px;
    align-self: center;
}

img.discord {
    max-width: 73px;
    max-height: 73px;
    margin-right: 20px;
    align-self: center;
}

img.Snapchat {
    max-width: 73px;
    max-height: 73px;
    margin-right: 20px;
    align-self: center;
}

img.spotify {
    max-width: 73px;
    max-height: 73px;
    margin-right: 31.21px;
    align-self: center;
}
*/
.content- {
    width: 78;
    height: 88;
}

.content-i {
    width: 78;
    height: 88;
    padding-right: 31.21px;
}

.content-g {
    width: 78;
    height: 88;
    padding-right: 43.96px;
}

.content-s {
    width: 78;
    height: 88;
    padding-right: 17.81px;
}

.content-t {
    width: 78;
    height: 88;
    padding-right: 43.96px;
}

.content-d {
    width: 78;
    height: 88;
    padding-right: 0px;
}

.content-sn {
    width: 78;
    height: 88;
    padding-right: 32.1px;
}

.content-sp {
    width: 78;
    height: 88;
    padding-right: 43.96px;
}

.align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
}



.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
    align-content: flex-start;
    justify-content: center;
}

.new-hits-area {
    position: relative;
    z-index: 1;
    padding: 45px 30px;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    border: 1px solid #d8d8d8;
    background-color: #f5f9fa;
    align-items: center!important;
}

.text-left {
    text-align: center!important;
}

a { 
    color:rgb(0, 0, 0);
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a:hover { 
    color:rgb(0, 0, 0);
    font-size: larger;
}

.foot {
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.white{
    color: rgba(240, 248, 255, 0.4);
}